.menu__list {
    border: 1px solid #000;
}

.text-up {
    text-transform: uppercase;
}

.heading,
.text {
    text-align: center;
}

.heading {
    color: purple;
}

.text {
    color: orange;
}